.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 65px;
    width: 97%;
    background-color: #282828;
}
.footer__green {
    color: #1ed15e;
  }

  .footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
  
.footer-left{
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
}
.footer-center{
  flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
}
.footer-right * .MuiSlider-root{
    color: green;
}
.footer-albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
  }
  .footer__songInfo > h4 {
    margin-bottom: 5px;
  }
  
  .footer__songInfo > p {
    font-size: 12px;
  }
  @media screen and (max-width:400px) {
    .footer {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      bottom: 0;
      height: 74px;
      width: 80%;
      /* width: 73%; */
      background-color: #282828;
  
  }
   .footer-center{
      padding-top: 5px;
      justify-content: none;
   }
  .footer-right{
    display: none;
  }
  }
